.venv/
.env

# Generated Data & Embeddings
output_file.xlsx
embeddings.npy

# Machine Learning Models
spam_model.keras

# Generated Plots & Web Assets
www/

# OS files
.DS_Store

# Python Cache
__pycache__/
*.pyc

# R Cache
.Rhistory
.RData
.Ruserdata
